
.grid_building {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 2.5rem;
}

.grid_rooms {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 3.5rem;
}

.single_building {
    position: relative;
    background: #fff;
    box-shadow: 0 12px 22px rgba(0,0,0,0.2);
    padding: 0.4rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    margin: 0 5rem;
}

.grid_charis {
    margin-top: 2rem;
    border: 1px solid #00000057; 
    padding: 0.5rem 1.5rem;
    display:grid;
    grid-template-columns: repeat(14 , 1fr);
    grid-gap: 15px;
}

.table-wrapper {
    direction: ltr;
	width: min(900px, 100% - 3rem);
}

.grid_tables {
    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
}

table {
	width: 100%;
	border-collapse: collapse;
	background: #f9fbfc;
}

caption,
th,
td {
	padding: 1rem;
	text-align: right;
	line-height: 1.5;
	color: #252639;
    font-family: 'Changa' , sans-serif;
}
tr:nth-of-type(2n) {
	background: hsl(0% 0% 05 / 0.1);
}

@media only screen and (max-width: 650px) {
	th {
		display: none;
	}
	td {
		display: grid;
		grid-template-columns: 15ch auto;
	}

	td::before {
		content: attr(data-cell) ": ";
		font-weight: 700;
		text-transform: capitalize;
	}
}


.single_chair_point {
    background: #ff704d;
    display: block !important;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.single_room {
    position: relative;
    background: #fff;
    box-shadow: 0 12px 22px rgba(0,0,0,0.2);
    padding: 0.2rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin: 0 3rem;
}

.number_building {
    position: absolute;
    top: 5%;
    right: 5%;
    background: #ff704d;
    font-size: 22px;
    font-family: 'Cairo';
    color: #fff;
    padding: 0.5rem;
    border-radius: 20px;
}

.single_building  img  , .single_room img.room_img {
    max-height: 9.5rem;
    border-radius: 500px;
    border: 2px solid #192538;
    transform: translateY(-2rem);
}

.single_building h1 , .single_room h1 {
    font-family: 'Cairo';
    font-size: 26px;
    font-weight: bold;
    color: #ff704d;
}

.icon_icon {
    max-height: 2.4rem;
    border: 2px solid #192538;
    border-radius: 50%;
}

.room_div div{
    margin: 0 1.5rem;
}