* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  
  html {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: #000306;
    text-align: right;
    direction: rtl;
    
  }

  input {
    border: none;
    outline: none;
  }